body {background-color: #FDEBD0; background-image: url(Imágenes/fondo.jpg); opacity: 90%;}

#titulo {color:#00695C; font-size:5rem; font-family:sencilla; text-align:center; text-decoration: underline;}

.subtitulos {color:#117A65; font-family:sencilla; text-align:center; text-decoration: overline; font-size: 2.2rem;}
.titulosnuevo {font-family: verdana; font-style: italic; background-color: #00695C; font-size: 2rem; text-align: left;}
.fondo {background-color: #FDEBD0;}
.cursiva {font-style: oblique; font-family: sencilla; font-size: 1.3rem; text-align: justify; font-weight: bolder;}
.letragrande {font-size: 2rem; font-family: sans-serif;}
.subtitulos2 {color:#117A65; font-family: 'Kalam', cursive; text-align:center; text-decoration: overline; font-size: 2rem ;}
.centrado {padding: 5vw;}
.left {text-align: left; font-size: 1.2rem;}

.letrablanca {color: white}
.letraverde {color: #1ABC9C; text-align: center; font-size: 2rem; font-family: 'Kalam', cursive;}

.justificado {text-align: justify; font-family: 'Kalam', cursive;}
.fotocentro{display: block; margin: auto; width: 40%}

.receta{font-family: sencilla; font-size: 1.3rem; }

.fotocentro2{display: block; margin: auto; width: 25%;}

.fotocentro:hover {width: 70%;}
.fotocentro2:hover{width: 40%;}

a:visited {color: black;}

a:hover {background-color:#D1F2EB; }

.icono {position: fixed;
top: 10vw; right: 1vw;}

.opacidad:hover {opacity: 40%; }

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


@font-face {
  font-family: "sencilla";
  src: url("fuentes/BadScript-Regular.ttf");
}

header {background: #FDEBD0; margin: 1%; padding: 0.5vw; border: 0.5vw dotted #1ABC9C; box-sizing: border-box;}
nav {background: #1ABC9C; text-align: justify; padding: 0.5vw; margin: 1%; box-sizing: border-box;}
section {background: #FDEBD0; float: left; width: 69%; height: 70vh; margin: 1%; overflow: auto;
          padding: 1vw;
        border: 0.5vw solid #117A65; box-sizing: border-box;}
aside {font-family: 'Kalam', cursive; background: #FDEBD0; float: left; width: 27%; height: 70vh; margin: 1%; overflow: auto;
      padding: 1vw; border: 0.5vw solid #117A65; box-sizing: border-box;}

footer {background: #FDEBD0; clear: both; margin: 1%; text-align: left; padding: 1vw;
   border: 0.5vw solid #117A65; box-sizing: border-box;}
